

<div class="col-md-3 w3_footer_grid">
    <h3>Contact</h3>
    {% for contact in contactList %}
    <ul class="address">
        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>{{ contact.adress }}</li>
        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">{{ contact.email }}</a></li>
        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>{{ contact.phoneNumber }}</li>
    </ul>
    {% endfor %}
</div>