{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
    <h2>Редактирование фото</h2>
    <form method="post" action="{{ path("my_shop_admin.news_photo_edit", {idNews:photo.id}) }}">
        {{ form_widget(form) }}
        <input type="submit" value="Сохранить">

    </form>
{% endblock %}