{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <fieldset>
    <h2>Registration:</h2>

    <form method="post" action="{{ path('myshop.customer_registration') }}" >
        {{ form_widget(form) }}
        <input type="submit" value="Register" />
    </form>
{% endblock %}