{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
  <form action="{{ path("my_shop_admin.product_photo_edit",{id:photo.id}) }}" enctype="multipart/form-data" method="post" >
    {{ form_widget(form) }}

      <input type="submit" value="Отправить">
  </form>

{% endblock %}
