{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}

    {% for item in list %}
        <h3>Adress:</h3> {{ item.getAdress() }}<br>
        <h3>Email:</h3> {{ item.getEmail() }}<br>
        <h3>Phone number:</h3> {{ item.getPhoneNumber() }}<br>


        <a href="{{ path("my_shop_admin.info_edit", {id:item.id}) }}">Редактирование</a><br>

    {% endfor %}

{% endblock %}