
<form action="{{ path('login') }}" method="post">
    Login:
    <input type="text"  name="_username" value="{{ last_username }}" />

    Password:
    <input type="password"  name="_password" />
    <button type="submit">Sign in</button>
    </form>