{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}

<h3>Редактирование категории</h3>
<form method="post" action="{{ path('my_shop_admin.news_category_edit', {id:newsCategory.id}) }}">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}