{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}

<a href="{{ path("my_shop_admin.news_category_add") }}">Добавить категорию</a>
<ul>
{% for newsCat in newsCategoryList %}
    <li><a href="{{ path("my_shop_admin.news_category_list", {id_newsCategory:newsCat.id}) }}">{{ newsCat.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}